.container {
  &--history__title {
    .heading {
      padding: 30px 0 15px;
      font-size: 33px;
      letter-spacing: 1.5px;
      line-height: 50px;
      text-transform: uppercase;
      color: #000;
      font-weight: 400;
      @include tablet {
        font-size: 23px;
      }
    }
  }
  &--history__subTitle {
    .heading {
      margin: 15px 0;
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      color: #000000;
      &:not(:global(.vtex-rich-text-0-x-heading--history__content-firstTime)) {
        @include tablet {
          margin-top: 50px;
        }
      }
    }
  }

  &--history__content-firstTime--content-text {
    .paragraph {
      padding: 15px 35px 15px 0;
    }
  }
  &--history__content-endOfTheWord--content-text {
    .paragraph {
      padding: 5px 35px 5px 0;
    }

    &-2 {
      .paragraph {
        padding: 5px 35px 5px 0;
      }
    }
    &-3 {
      .paragraph {
        padding: 15px 35px 15px 0;
      }
    }
  }
  &--history__content-neighborhood--content-text {
    .paragraph {
      padding: 5px 35px 5px 0;
    }
  }
  &--history__content-metropolis--content-text {
    .paragraph {
      padding: 5px 35px 5px 0;
    }
    &-2 {
      .paragraph {
        padding: 15px 35px 15px 0;
      }
    }
  }
  &--history__content-newTimes--content-text {
    .paragraph {
      padding: 5px 35px 5px 0;
    }
  }

  &--history__content-text {
    .paragraph {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 25px;
      color: #000;
      text-align: left;
      -webkit-text-stroke: 0.2px;
      @include tablet {
        padding: 15px 0;
        font-weight: 400;
        font-size: 13px;
      }
    }
    @include desktop {
      width: 70% !important;
    }
  }
}
