.link {
    &--login__link {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        background: #faf8f2;
        border-radius: 100%;
        z-index: 10;
        // background: url(assets/icons/icone-casa.png) #faf8f2 no-repeat;
        background-size: 35%;
        background-position: center;
    }
}
