.container {
  &--institucional__wrapper-privacy-policies--content {
    .paragraph {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.6px;
      line-height: 29px;
      color: #000;
      margin-bottom: 30px;
    }
  }
}
