.installments--summary {
  width: fit-content;
  margin: 0 auto;
  .installmentsNumber--summary{
    font-weight: 800;
    color: black;
    letter-spacing: .3px;
    &::after{
      content:"X";
      margin-left: 2px;
    }
  }

  .installmentValue--summary{
    font-weight: 800;
    color: black;
    letter-spacing: .3px;
  }
}

.sellingPrice {
  &--summary {
    .sellingPriceValue {
      font-weight: 700;
      color: black;
      font-size: 14px;
      letter-spacing: .3px;
      -webkit-text-stroke: 0.2px;
    }
  }
}
