.container {
  &--content-seo {
    .wrapper{
      width: 80%;
      margin: 0 auto 25px auto;
    }
    .heading {
      font-size: 25px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      display: block;
      font-weight: 400;
      color: #000;
      margin-bottom: 45px;
    }
    .paragraph {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.7;
      letter-spacing: 1.5px;
      color: #000;
      margin-bottom: 20px;
      -webkit-text-stroke: 0.2px;
    }
  }
}
