.imageElement{
  &--institucional__wrapper-guide--answer-first-image{
    width: 25%;
    @include tablet{
      width: 80%;
    }
  }

  &--institucional__wrapper-guide--answer-third-image{
    margin: auto;
    display: block;
    margin-bottom: 30px;
  }
}
