.container {
  &--home__shelf-tab {
    .listContainer {
      @media (max-width: 1024px) {
        flex-wrap: nowrap;
        width: 100%;
        justify-content: unset;
        overflow-x: scroll;
      }

      .listItem {
        :global(.vtex-button) {
          width: 240px;
          height: 47px;
          display: flex;
          justify-content: center;
          align-items: center;

          color: #393939;
          font-family: "Lato";
          font-size: 16px;
          font-weight: 600;
          line-height: 19.2px;
          text-align: center;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          border: 1px solid #C00018
        }
        :global(.vtex-button):hover {
          background: #C00018;
          color: #FFFFFF;
        }

        :global(.vtex-button__label) {
          padding: 0;
        }
        &Active {
          :global(.vtex-button) {
            color: #FFFFFF;
            font-weight: 900;
            font-size: 16px;
            font-weight: 600;
            line-height: 19.2px;
            text-align: center;
            background: #C00018;
          }
        }
      }
    }
  }
}
