.container {
  &--home__shelf-tab {
    .listContainer {
      .listItem {
        :global(.vtex-button) {
          font-size: 12px;
          text-transform: uppercase;
          font-style: italic;
          letter-spacing: 1.5px;
          font-weight: 300;
          cursor: pointer;
          position: relative;
          transition: all 0.3s ease-in-out;
          background: none;
          -webkit-text-stroke: 0.2px;
          border: none;
          color: black;
        }
        :global(.vtex-button__label) {
          padding: 0;
        }
        &Active {
          :global(.vtex-button) {
            color: #c00018;
            font-weight: 900;
            &::after {
              content: "";
              width: 25px;
              margin: 10px auto 0;
              display: block;
              background: #c00018;
              transition: all width 0.3s;
              height: 2px;
              position: absolute;
              left: 50%;
              translate: -50%;
            }
          }
        }
      }
    }
  }
}
