.container {
  &--deals {
    color: #ffffff;
    text-align: center;
    justify-content: center;

    .paragraph {
      margin: 0;
    }
  }

  &--shelfTitle {
    color: #727273;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 32px;

    @media (max-width: 1024px) {
      margin-top: 48px;
      margin-bottom: 24px;
    }

    .headingLevel2 {
      &--shelfTitle {
        margin: 0;
        text-align: center;
        display: block;
        font-size: 25px !important;
        color: #393939;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1.5px;
      }
    }
  }

  &--link {
    justify-content: center;

    .paragraph {
      text-align: center;
      max-width: 540px;
      padding-top: 36px;
      padding-bottom: 84px;
      color: #03034e;
    }

    .strong {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .link {
      text-decoration: none;
      font-size: 36px;
      font-weight: 300;
      color: #03034e;
    }
  }

  &--question {
    justify-content: center;

    .paragraph {
      text-align: center;
      max-width: 540px;
      margin: 0 16px;
      padding-top: 120px;
      color: #03034e;
    }

    .strong {
      font-size: 32px;
      line-height: 2rem;
      font-weight: 700;
    }
  }

  &--title {
    color: #03034e;
    font-size: 28px;
    font-weight: 700;
  }

  &--physical__stories-title{
    .heading{
      font-size: 25px;
      font-weight: 400;
      letter-spacing: 1.5px;
      line-height: 35px;
      margin: 0 0 40px 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &--store__title {
    @include mobile{
      width: 100%;
    }
    .heading--store__title {
      font-size: 25px;
      font-weight: 400;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      display: block;
      margin:0 0 40px 0;
      @include mobile{
        text-align: center;
      }
      &::after {
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        background: #d82532;
        margin: 15px 85px;
        @include mobile{
          margin: 10px auto 25px ;
          width: 116px ;
        }
      }
    }
    .wrapper{
      @include mobile{
        width: 100%;
      }
    }
  }

  &--store__address{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000;
    @include mobile{
      text-align: center;
    }
    .paragraph{
      line-height: 2;
    }
    .wrapper{
      @include mobile{
        width: 100%;
      }
    }
  }

  &--buttons-category-home {
    justify-content: center;
    margin-top: 80px;

    @media (max-width: 1024px) {
      margin-top: 48px;
      padding: 0 45px;
    }
  }
}

.paragraph {
  &--buttons-category-home {
    font-family: Lato, sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #393939;
    margin: 0 0 24px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media only screen and (min-width: 640px) {
  .container--question {
    .strong {
      font-size: 40px;
      line-height: 3rem;
    }
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034e;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;

    .paragraph {
      line-height: 1.3em;
    }
  }
}
