.flexRowContent {
  &--menu-link,
  &--header {
    &__content {
      padding: 0 0.5rem;
      background-color: white;
      @extend %maxcontainer;
      align-items: center;
    }
    &__icons {
      margin-left: 40px;
    }
  }
  &--secund__area-banners {
    width: 65%;
    margin: auto;
    @media (min-width: 768px) {
      padding-bottom: 75px;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin: 0;
    }
    .flexCol {
      :global(
          .vtex-store-components-3-x-imageElement--secund__area-banners--img
        ) {
        transition: all 0.6s ease-in-out;
        &:hover {
          transform: translate(5px, 5px);
        }
      }
      width: fit-content;
      .flexColChild {
        width: fit-content;
      }

      &--col-right {
      }
    }
  }

  &--third__banner-area {
    margin: 72px auto;
    width: 100%;
    @include mobile {
      margin-top: 10px;
      width: fit-content;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;

      .stretchChildrenWidth{
        width: fit-content !important;
      }

      &--img {
        width: 170px;
      }
    }
    .flexCol {
      transition: all 0.6s ease-in-out;
      &--translateToTop {
        @media (min-width: 769px) {
          margin-top: -50px;
        }
      }
      &:hover {
        transform: translate(5px, 5px);
      }
    }
  }

  &--physical__stories {
    width: 100%;
    margin: auto;
    gap: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: center;
    &-row {
      align-items: center;
      @include tablet {
        flex-direction: column;
        align-items: center;
      }
      .stretchChildrenWidth {
      }
    }

    .stretchChildrenWidth {
      max-width: 800px;
      @media (max-width: 1440px) {
        width: 100% !important;
      }
    }
  }

  &--header__content {
    background: transparent;
  }

  @media screen and (min-width: 40em) {
    &--menu-link,
    &--header__content {
      padding: 0 1rem;
    }
  }

  @media screen and (min-width: 80rem) {
    &--menu-link,
    &--header__content {
      padding: 5px 0;
    }
  }

  &--menu-link {
    background-color: #03044e;
    color: #fff;

    :global(.vtex-menu-2-x-styledLink) {
      color: #ffffff;
      font-size: 14px;
    }
  }

  &--header__content {
    :global(.vtex-menu-2-x-styledLink) {
      color: #727273;
      font-size: 14px;
    }
  }

  &--header__content-mobile {
    align-items: center;
    padding: 0 15px;
    background-color: white;
  }
}

.flexRow {

  &--header__content {
    background-color: transparent !important;
    z-index: 99;
  }
  &--header {
    &__content {
      background-color: white;
    }
  }
  &--secund__area-banners {
    margin-top: 162px;

    @media (max-width: 768px) {
      margin-top: 48px;
    }
  }

  &--quickviewMainRow {
    display: flex;
    max-height: 100%;
  }

  &--addToCartRow {
    padding-bottom: 1rem;
  }
  &--submenu__container {
    width: 100%;
    padding: 40px 8% 57px 10%;
    -webkit-box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.2);
    &-left {
      width: 625px;
    }
  }

  &--menu__category {
    z-index: 99;
  }

  &--physical__stories-row:first-child {
    @include mobile {
      margin-bottom: 20px;
    }
  }
}

.flexCol {
  &--filterCol {
    max-width: 500px;
    min-width: 230px;
  }

  &--productCountCol {
    align-items: flex-start;
  }

  &--orderByCol {
    align-items: flex-end;
  }

  &--orderByMobileCol {
    width: 42%;
  }

  &--filterMobileCol {
    width: 38%;

    @include tablet {
      border: 1px solid #ddd;
      border-radius: 5px;
      justify-content: center;
      line-height: 16px;
    }
  }

  &--col-right {
    @media (min-width: 768px) {
      transform: translateY(200px);
      transition: all 0.6s ease-in-out;
      &--is--visible {
        transform: translateY(60px) !important;
      }
    }
  }

  &--physical__stories-col {
    margin: 2% 0;
    height: 385px;
    background: #f2f2f2;
    padding: 0 5rem 0 5rem;
    @include mobile {
      width: 90% !important;
      padding: 0;
      height: 300px;
    }
  }

  &Child--quickviewDetails {
    &:first-child {
      overflow-y: auto;
      height: 66% !important;
      overflow-x: hidden;
    }

    &:last-child {
      height: 34% !important;
    }
  }
}
