.container {
  &--tips__title,
  &--tips__subTitle {
    margin: 15px 0;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
  }

  &--tips__article-1--title,
  &--tips__article-2--title {
    .heading {
      margin: 15px 0;
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 22px;
    }
  }

  &--tips__article-1--text {
    .paragraph {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 25px;
      padding: 15px 50px 15px 10px;
      @include tablet{
        font-size: 14px;
      }
    }
  }

  &--tips__article-2--text {
    padding-top: 30px;
    .paragraph {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 25px;
      padding: 15px 48px 0px 7px;
      @include tablet{
        font-size: 14px;
      }
    }
  }

  .list {
    &--tips__article-1--text,
    &--tips__article-2--text {
      list-style: disc;
      .listItem {
        counter-increment: my-counter;
        position: relative;
        &::before {
          content: counter(my-counter) "."; /* Adiciona o número seguido de um ponto */
          position: absolute;
          top: 19px;
          width: 1em;

        }
        .paragraph{
          &--tips__article-1--text,&--tips__article-2--text{
            padding-left: 20px;
          }
        }
      }
    }
  }
}
