.product-identifier--productReference {
  font-size: 12px;
  letter-spacing: 1px;
}
.product-identifier--productReference::before {
  content: "Ref";
}
.product-identifier--productReference .product-identifier__label {
  display: none;
}