.input {
  border-bottom: 1px solid #000000;
  padding-bottom: 8px;
  padding-left: 8px;
  color: #000000;
  letter-spacing: 1.5px;
  width: 148px;
}
@media (max-width: 1025px) {
  .input {
    max-width: 100% !important;
    width: 75%;
    padding: 15px 20px 0;
    border: none;
    font-size: 13px;
  }
}