.container {
  width: 100%;
  padding: 25px;
  transition: all 0.3s ease-in-out;
  min-height: 400px;
  margin: 5px 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
  position: relative;
  max-width: 380px !important;
}
@media (max-width: 1025px) {
  .container {
    max-width: 100% !important;
  }
}
@media (max-width: 768px) {
  .container {
    min-height: auto;
    padding: 0;
  }
}
.container .clearLink .element .nameContainer {
  justify-content: center;
  padding: 0;
}
.container .clearLink .element .nameContainer .productBrand {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  height: 30px;
  display: -webkit-box;
  font-size: 12px;
  -webkit-text-stroke: 0.2px;
  margin-top: 18px;
  text-align: left;
}
@media (max-width: 768px) {
  .container .clearLink .element .nameContainer .productBrand {
    height: auto;
  }
}
.container .clearLink .element :global(.vtex-button) {
  background-color: white;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  margin: auto auto 0 auto;
  color: black;
  border-radius: 0;
  height: 45px;
  border: 1px solid black;
}
@media (max-width: 1025px) {
  .container .clearLink .element :global(.vtex-button) {
    opacity: 1;
    visibility: visible;
  }
}
.container .clearLink .element :global(.vtex-button) :global(.vtex-button__label) {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--colorBlack);
  transition: all 0.3s ease-in-out;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-property: color;
  transition-duration: 0.3s;
  position: relative;
}
.container .clearLink .element :global(.vtex-button) :global(.vtex-button__label)::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media (min-width: 1025px) {
  .container .clearLink .element :global(.vtex-button) :global(.vtex-button__label):hover {
    color: white;
  }
  .container .clearLink .element :global(.vtex-button) :global(.vtex-button__label):hover::after {
    transform: scaleX(1);
  }
}
.container:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
}
.container:hover .clearLink .element :global(.vtex-button) {
  opacity: 1;
  visibility: visible;
}

.container--category {
  padding: 0;
}

.container--category:hover {
  box-shadow: none;
}
.container--category .element--category .nameContainer--category {
  justify-content: start !important;
}
.container--category .imageStackContainer {
  width: 100%;
}