.minicartContainer .cartIcon {
  display: none;
}
.minicartContainer .minicartIconContainer::before {
  content: "";
  background: url(assets/icons/cart.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 19px;
  height: 24px;
  display: block;
}
.minicartContainer .openIconContainer--minicart {
  padding: 0.75em 0;
}
.minicartContainer .minicartQuantityBadge {
  width: 10px;
  height: 10px;
  background: #c00018;
  font-size: 10px;
}
.minicartContainer .minicartQuantityBadgeDefault {
  top: -0.1rem;
  right: -0.3rem;
}
.minicartContainer :global(.vtex-button__label) {
  padding: 0;
}