@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
.menuLinks .menuLink {
  border: 1px solid #ccc;
  margin: 0;
  border-top: 0;
  display: flex;
  gap: 5px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.menuLinks .menuLink::before {
  content: "\f08b";
  width: 15px;
  display: flex;
  justify-content: center;
}
.menuLinks::before {
  content: "MENU";
  font-size: 18px;
  color: #ab8663;
  text-transform: uppercase;
  text-align: left;
  height: 30px;
  width: 100%;
  display: block;
  border-bottom: 2px solid #ccc;
}
.menuLinks :global(.vtex-account_menu-link) {
  border: 1px solid #ccc;
  margin: 0;
  border-top: 0;
  display: flex;
  gap: 5px;
}
.menuLinks :global(.vtex-account_menu-link)::before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.menuLinks :first-child :first-child :global(.vtex-account_menu-link):global(.b--action-primary) {
  border-color: #ccc;
}
.menuLinks :first-child :first-child :global(.vtex-account_menu-link)::before {
  content: "\f2be";
  width: 15px;
  display: flex;
  justify-content: center;
}
.menuLinks :first-child :nth-child(2) :global(.vtex-account_menu-link)::before {
  content: "\f041";
  width: 15px;
  display: flex;
  justify-content: center;
}
.menuLinks :first-child :nth-child(3) :global(.vtex-account_menu-link)::before {
  content: "\f07a";
  width: 15px;
  display: flex;
  justify-content: center;
}
.menuLinks :first-child :nth-child(5) :global(.vtex-account_menu-link)::before {
  content: "\f084";
  width: 15px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1025px) {
  .menu {
    padding-left: 0;
    padding-right: 0;
  }
}

:global(.vtex-account__page) :global(.vtex-pageHeader__container) {
  padding: 0.9rem 2rem;
}
:global(.vtex-account__page) :global(.vtex-pageHeader__title) {
  color: #ab8663;
  display: flex;
  gap: 10px;
  align-items: center;
}
:global(.vtex-account__page) :global(.vtex-pageHeader__title)::before {
  font: normal normal normal 25px/1 FontAwesome;
  content: "\f007";
}
:global(.vtex-account__page) :global(.vtex-button) {
  color: #ab8663;
  text-decoration: none;
  padding: 4px 10px;
  display: inline-block;
  line-height: 30px;
  border: 1px solid #ab8663;
  font-weight: 700;
  margin-bottom: 2px;
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}
:global(.vtex-account__page) :global(.vtex-button):hover {
  background-color: #ab8663 !important;
  color: white;
}
:global(.vtex-account__page) :global(.vtex-account__order-details) ul li:last-child {
  display: none;
}

:global(.vtex-my-orders-app-3-x-orderBody) :global(.vtex-my-orders-app-3-x-cancelBtn) span {
  font-size: 0;
}
:global(.vtex-my-orders-app-3-x-orderBody) :global(.vtex-my-orders-app-3-x-cancelBtn) span::before {
  content: "Solicitar Troca ou Devolução";
  display: block;
  font-size: 14px;
}

:global(.vtex-my-orders-app-3-x-cancelBtn) {
  display: none;
}