.container--home__shelf-tab .listContainer .listItem :global(.vtex-button) {
  font-size: 12px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1.5px;
  font-weight: 300;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  background: none;
  -webkit-text-stroke: 0.2px;
  border: none;
  color: black;
}
.container--home__shelf-tab .listContainer .listItem :global(.vtex-button__label) {
  padding: 0;
}
.container--home__shelf-tab .listContainer .listItemActive :global(.vtex-button) {
  color: #c00018;
  font-weight: 900;
}
.container--home__shelf-tab .listContainer .listItemActive :global(.vtex-button)::after {
  content: "";
  width: 25px;
  margin: 10px auto 0;
  display: block;
  background: #c00018;
  transition: all width 0.3s;
  height: 2px;
  position: absolute;
  left: 50%;
  translate: -50%;
}

.container--product-payment-options {
  padding: 20px 30px;
  overflow: auto;
}
.container--product-payment-options .listContainer--product-payment-options {
  justify-content: space-between;
  margin-bottom: 30px;
}
.container--product-payment-options .listContainer--product-payment-options .listItem {
  padding: 0;
  margin: 0 5px;
}
.container--product-payment-options .listContainer--product-payment-options .listItemActive :global(.vtex-button) {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #2e2e2e;
}
.container--product-payment-options .listContainer--product-payment-options .listItem :global(.vtex-button):hover {
  background-color: transparent;
}
.container--product-payment-options .listContainer--product-payment-options .listItem :global(.vtex-button__label) {
  color: #3f3f40;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  text-transform: initial;
}
.container--product-payment-options .contentItem :global(.vtex-rich-text-0-x-paragraph) {
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 10px;
}