.openIconContainer--menu__drawer {
  padding: 0;
}
.openIconContainer--menu__drawer::after {
  content: "";
  background-image: url("assets/icons/header/drawer.svg");
  width: 35px;
  height: 35px;
  display: block;
}
.openIconContainer--menu__drawer .menuIcon {
  display: none;
}

.openIconContainer--search__filter {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.openIconContainer--search__filter::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  margin-top: -3px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M13.5 16C13.9142 16 14.25 16.3358 14.25 16.75C14.25 17.1642 13.9142 17.5 13.5 17.5H10.5C10.0858 17.5 9.75 17.1642 9.75 16.75C9.75 16.3358 10.0858 16 10.5 16H13.5ZM16.5 11C16.9142 11 17.25 11.3358 17.25 11.75C17.25 12.1642 16.9142 12.5 16.5 12.5H7.5C7.08579 12.5 6.75 12.1642 6.75 11.75C6.75 11.3358 7.08579 11 7.5 11H16.5ZM19.5 6C19.9142 6 20.25 6.33579 20.25 6.75C20.25 7.16421 19.9142 7.5 19.5 7.5H4.5C4.08579 7.5 3.75 7.16421 3.75 6.75C3.75 6.33579 4.08579 6 4.5 6H19.5Z" fill="%23161615"></path></svg>');
}

.drawerContent--search__filter {
  position: relative;
}
.drawerContent--search__filter .closeIconContainer--search__filter {
  position: absolute;
  right: 10px;
  z-index: 9;
}
@media (max-width: 1025px) {
  .drawerContent--search__filter .childrenContainer--search__filter {
    height: 100%;
  }
}

.opened--search__filter {
  transform: none !important;
  will-change: transform !important;
  perspective: 1px !important;
  translate: 0, 0 !important;
}

.drawerContent {
  height: 100%;
}
.drawerContent .drawerHeader--header-drawer {
  width: 100%;
  height: 128px;
  position: relative;
}
.drawerContent .drawerHeader--header-drawer :global(.vtex-store-components-3-x-logoLink) {
  text-align: center;
  display: block;
}
.drawerContent .drawerHeader .closeIconButton {
  position: absolute;
  top: 10px;
  right: 10px;
}
.drawerContent .childrenContainer--menu__drawer {
  height: 100%;
}
.drawerContent .childrenContainer--menu__drawer :global(.vtex-login-2-x-container) {
  position: absolute;
  justify-content: center;
  bottom: 35px;
  left: 50%;
  width: 90%;
  translate: -50%;
  border: 1px solid #000;
  height: 48px;
  background: white;
}
.drawerContent .childrenContainer--menu__drawer :global(.vtex-login-2-x-container) :global(.vtex-button) {
  display: block;
  margin: auto;
  width: auto;
}
.drawerContent .childrenContainer--menu__drawer :global(.vtex-login-2-x-container) :global(.vtex-button) :global(.vtex-button__label) {
  padding-right: 0;
}
.drawerContent .childrenContainer--menu__drawer :global(.vtex-login-2-x-container) :global(.vtex-button) :nth-child(n+1) {
  display: block;
}