.wrapper--buy-fast-pdp--stuck {
  height: 0 !important;
}

.wrapper--sticky-header {
  background-color: white !important;
  position: absolute !important;
  z-index: -1;
}
.wrapper--sticky-header--stuck {
  position: relative;
  z-index: 1000;
}
.wrapper--sticky-header .container--sticky-header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: white;
}
.wrapper--sticky-header .container--sticky-header :global(.vtex-menu-2-x-menuContainer--main__menu) {
  width: 100%;
  margin-right: 10px;
}
.wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--menu__category) {
  box-shadow: none;
}
.wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRowContent--header__content-sticky) {
  height: 84px;
  align-items: center;
  gap: 8px;
}