.imageElement--category-banner {
  min-height: 150px;
}

@media (max-width: 768px) {
  .imageElement--third__banner-area--img {
    width: 300px;
  }
}
.imageElement--secund__area-banners--img {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .imageElement--secund__area-banners--img {
    margin-right: 24px;
    width: calc(100% - 24px);
  }
}
@media (max-width: 768px) {
  .imageElement--secund__area-banners--img-mid {
    margin-right: 0;
    margin-left: 24px;
  }
}
.imageElement--physical__stories-img {
  height: 410px;
}
@media (max-width: 768px) {
  .imageElement--physical__stories-img {
    height: 204px;
  }
}

.searchBarContainer .searchBarInnerContainer--search__not-found {
  margin: 30px 0;
}
@media (min-width: 1025px) {
  .searchBarContainer .searchBarInnerContainer--search__not-found .autoCompleteOuterContainer--search__not-found {
    width: 500px;
  }
}
.searchBarContainer .searchBarInnerContainer--search__not-found .autoCompleteOuterContainer--search__not-found :global(.vtex-input-prefix__group) {
  padding: 20px;
  height: 52px;
  width: 100%;
  border-radius: 0;
  justify-content: space-between;
  border: 1px solid #999;
}
.searchBarContainer .searchBarInnerContainer--search__not-found .autoCompleteOuterContainer--search__not-found :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
  font-weight: 400;
  font-size: 12px;
  line-height: 1px;
  max-width: 100%;
  width: 100%;
  border: 0;
  letter-spacing: normal;
  padding: 0;
  color: #717171;
}

.productNameContainer--product__info--name {
  margin-bottom: 10px;
}
.productNameContainer--product__info--name .productBrand--product__info--name {
  color: #161615;
  font-size: 20px;
  font-weight: 400;
  text-align: start;
  text-transform: uppercase;
}

.productImagesContainer--product-image-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.productImagesContainer--product-image-grid .productImage--product-image-grid {
  aspect-ratio: 1/1;
  border: 1px solid #d9d9d9;
  height: auto;
  overflow: hidden;
  width: 100%;
}
.productImagesContainer--product-image-grid .productImage--product-image-grid:hover {
  cursor: zoom-in;
}

.skuSelectorContainer--sku-selector__pdp .skuSelectorSubcontainer--tamanho {
  margin: 10px 0;
}
.skuSelectorContainer--sku-selector__pdp .skuSelectorTextContainer .skuSelectorName {
  color: #161615;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
  text-transform: none;
}
.skuSelectorContainer--sku-selector__pdp .skuSelectorTextContainer .skuSelectorName::after {
  content: ":";
}
.skuSelectorContainer--sku-selector__pdp .skuSelectorOptionsList {
  gap: 15px;
}
.skuSelectorContainer--sku-selector__pdp .skuSelectorOptionsList .skuSelectorItem--sku-selector__pdp {
  border: 1px solid #606060 !important;
  border-radius: 0 !important;
  color: #626262 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  height: 40px !important;
  margin: 0 !important;
  opacity: 1 !important;
  transform: none !important;
  width: 40px !important;
}
.skuSelectorContainer--sku-selector__pdp .skuSelectorOptionsList .skuSelectorItem--sku-selector__pdp .frameAround--sku-selector__pdp {
  border: 0;
}
.skuSelectorContainer--sku-selector__pdp .skuSelectorOptionsList .skuSelectorItem--sku-selector__pdp--selected {
  background-color: black;
}
.skuSelectorContainer--sku-selector__pdp .skuSelectorOptionsList .skuSelectorItem--sku-selector__pdp--selected .skuSelectorItemTextValue--sku-selector__pdp {
  color: white;
}
.skuSelectorContainer--sku-selector__pdp .skuSelectorOptionsList .skuSelectorItem--sku-selector__pdp .skuSelectorInternalBox--sku-selector__pdp {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.carouselContainer--product-image-slide {
  justify-content: center;
}
.carouselContainer--product-image-slide .carouselGaleryThumbs--product-image-slide {
  display: none;
}
.carouselContainer--product-image-slide .carouselGaleryCursor {
  margin: 0;
}
.carouselContainer--product-image-slide .carouselGaleryCursor .productImagesGallerySwiperContainer--product-image-slide {
  padding-bottom: 20px;
}
.carouselContainer--product-image-slide .swiper-pagination {
  width: fit-content;
  align-items: center;
  background-color: #ddd;
  border-radius: 10px;
  bottom: 0;
  display: flex;
  gap: 10px;
  left: 50%;
  padding: 5px 10px;
  position: absolute;
  transform: translateX(-50%);
}
.carouselContainer--product-image-slide .swiper-pagination .swiperBullet {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  height: 10px;
  width: 10px;
  opacity: 1;
}
.carouselContainer--product-image-slide .swiper-pagination .swiperBullet--active {
  background-color: #606060;
  border-radius: 5px;
  width: 40px;
}

.container {
  padding: 0;
  max-width: unset;
}

.imageElement--fixed__whatsapp {
  display: block !important;
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.imageElement--footer__atendimento-img {
  max-width: 177px;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .imageElement--footer__atendimento-img {
    display: none;
  }
}
@media (max-width: 1025px) {
  .imageElement--selo {
    width: fit-content;
    height: auto;
  }
}
@media (max-width: 768px) {
  .imageElement--icon-encrypt {
    max-width: 80px !important;
  }
}
@media (max-width: 768px) {
  .imageElement--icon-vtex {
    max-width: 90px !important;
  }
}
@media (max-width: 768px) {
  .imageElement--icon-clearSale {
    max-width: 160px !important;
  }
}
.imageElement--agencia {
  height: fit-content;
}

@media (max-width: 1025px) {
  .searchBarContainer {
    display: block;
  }
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  border: 0;
  background-color: transparent;
  width: 100%;
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  border: 0;
  border-bottom: 1px solid #000;
  flex-direction: row-reverse;
}
.searchBarContainer :global(.vtex-input__suffix) {
  padding: 0;
  background-color: transparent;
}
.searchBarContainer :global(.vtex-store-components-3-x-searchIcon) {
  display: none;
}
.searchBarContainer :global(.vtex-store-components-3-x-searchBarIcon) {
  padding: 0;
}
.searchBarContainer :global(.vtex-store-components-3-x-searchBarIcon)::before {
  content: "";
  width: 21px;
  height: 21px;
  background: url(assets/icons/search.svg) no-repeat;
  background-position: center;
  background-size: contain;
  margin: 1px;
}
@media (max-width: 1025px) {
  .searchBarContainer {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 42px;
    left: 0;
    width: 100%;
    z-index: 999;
    max-width: 100%;
    background-color: white;
    padding: 16px 8px;
  }
}
.searchBarContainer .autoCompleteOuterContainer--header__search-mobile :global(.vtex-input-prefix__group) {
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .searchBarContainer .autoCompleteOuterContainer--header__search-mobile :global(.vtex-input-prefix__group) {
    align-items: center;
  }
}

.backToTopButtonActive {
  bottom: 8rem;
}
.backToTopButtonActive :global(.vtex-button) {
  background-color: transparent;
  border: 0;
}
.backToTopButtonActive :global(.vtex-button) :global(.vtex-button__label) {
  display: none;
}
.backToTopButtonActive :global(.vtex-button)::after {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(assets/icons/scrollup-icon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.imageElement--banner-categoria {
  margin-top: 20px;
}

.imageElement--about-us__fullbanner {
  width: 100%;
}
@media (max-width: 1025px) {
  .imageElement--about-us__fullbanner {
    aspect-ratio: 375/180;
  }
}

.imageElement--contact-us__fullbanner {
  width: 100%;
}
.imageElement--contact-us__store-img {
  min-height: 400PX;
}

.imageElement--institucional__wrapper-faq-img {
  width: 49px;
  margin: 0 auto;
  display: block;
  height: 49px;
  margin-bottom: 21px;
}

.imageElement--institucional__wrapper-guide--answer-first-image {
  width: 25%;
}
@media (max-width: 1025px) {
  .imageElement--institucional__wrapper-guide--answer-first-image {
    width: 80%;
  }
}
.imageElement--institucional__wrapper-guide--answer-third-image {
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

@media (min-width: 1025px) {
  .imageElement--history__content-img {
    width: 25%;
    height: fit-content;
    margin-right: 30px;
  }
}
@media (min-width: 1025px) {
  .imageElement--history__content-neighborhood--content-img-large {
    width: 50%;
    display: block;
    margin: 40px auto 50px;
  }
}

@media (max-width: 1025px) {
  .imageElement--tips__article-1-img, .imageElement--tips__article-2-img {
    display: block;
    margin: auto;
  }
}