@charset "UTF-8";
.productHighlightWrapper--collection .productHighlightText[data-highlight-name=Tudo] {
  display: none;
}

.productHighlightText {
  border-radius: 0;
}

.productHighlightText[data-highlight-name="Veja como fica 2020"] {
  border: 1px solid #606060;
  font-size: 0;
  border-radius: 0;
  background-color: white;
}
.productHighlightText[data-highlight-name="Veja como fica 2020"]::before {
  content: "VEJA COMO FICA";
  color: #606060;
  font-size: 11px;
  font-weight: 600;
  line-height: 26px;
  padding: 0 2px;
  z-index: 9;
}

.productHighlightText[data-highlight-name="flag confort"] {
  border: 1px solid #606060;
  font-size: 0;
  border-radius: 0;
  height: 26px;
  background-color: white;
  display: block;
  min-width: 110px;
}
.productHighlightText[data-highlight-name="flag confort"]::before {
  content: "CONFORT";
  color: #606060;
  font-size: 12px;
  font-weight: 600;
  z-index: 9;
}

.productHighlightText[data-highlight-name=flag_exclusivo] {
  border: 1px solid #606060;
  font-size: 0;
  border-radius: 0;
  display: block;
  height: 26px;
  background-color: white;
  min-width: 110px;
}
.productHighlightText[data-highlight-name=flag_exclusivo]::before {
  content: "EXCLUSIVO";
  color: #606060;
  font-size: 12px;
  font-weight: 600;
  z-index: 9;
}

.productHighlightText[data-highlight-name="flag novo"] {
  border: 1px solid #606060;
  font-size: 0;
  border-radius: 0;
  display: block;
  height: 26px;
  background-color: white;
  min-width: 110px;
}
.productHighlightText[data-highlight-name="flag novo"]::before {
  content: "NOVO";
  color: #606060;
  font-size: 12px;
  font-weight: 600;
  z-index: 9;
}

.productHighlightText[data-highlight-name="flag edlimitada"] {
  border: 1px solid #606060;
  font-size: 0;
  display: block;
  border-radius: 0;
  height: 26px;
  background-color: white;
  min-width: 110px;
}
.productHighlightText[data-highlight-name="flag edlimitada"]::before {
  content: "EDIÇÃO LIMITADA";
  color: #606060;
  font-size: 12px;
  font-weight: 600;
  z-index: 9;
}

.productHighlightText[data-highlight-name="CANO AJUSTAVEL FLAG"] {
  border: 1px solid #606060;
  font-size: 0;
  display: block;
  border-radius: 0;
  color: #fff;
  line-height: 26px;
  height: 26px;
  min-width: 110px;
  background-color: #606060;
}
.productHighlightText[data-highlight-name="CANO AJUSTAVEL FLAG"]::before {
  content: "CANO AJUSTÁVEL";
  font-size: 12px;
  font-weight: 400;
  padding-right: 3px;
}

.productHighlightText[data-highlight-name="Produtos Veganos"] {
  background-color: #606060;
  color: #fff;
  font-family: Lato;
  font-size: 0;
  min-width: 110px;
  text-align: center;
  display: flex;
  height: 26px;
  flex-direction: row;
  border-radius: 0;
  gap: 3px;
  align-items: center;
  justify-content: center;
}
.productHighlightText[data-highlight-name="Produtos Veganos"]::before {
  content: "";
  background-image: url(assets/icons/flags/vegano.png);
  width: 20px;
  height: 12px;
  display: block;
  margin-right: 2px;
}
.productHighlightText[data-highlight-name="Produtos Veganos"]::after {
  content: "VEGANO";
  font-size: 12px;
}

.productHighlightText[data-highlight-name=FLAG-Prime] {
  background-color: #606060;
  color: #fff;
  font-family: Lato;
  font-size: 0;
  min-width: 110px;
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 26px;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  padding: 0;
  margin-top: 0;
}
.productHighlightText[data-highlight-name=FLAG-Prime]::before {
  content: "";
  content: "";
  background-image: url(assets/icons/flags/star.png);
  width: 13px;
  height: 12px;
  display: block;
}
.productHighlightText[data-highlight-name=FLAG-Prime]::after {
  content: "LINHA PRIME";
  font-size: 12px;
}

.productHighlightText[data-highlight-name="Linha Raízes"] {
  display: none;
}

.productHighlightWrapper--collection {
  display: contents;
}