@charset "UTF-8";
.trigger--institucional__wrapper-disclosure--trigger {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 25px;
  display: flex;
  align-items: center;
}
.trigger--institucional__wrapper-disclosure--trigger::after {
  content: "";
  width: 15px;
  height: 15px;
  position: relative;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(assets/icons/commom/down-arrow.png);
  -webkit-background-size: 15px 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-left: 10px;
}
.trigger--institucional__wrapper-disclosure--trigger--visible::after {
  transform: rotate(0deg);
}
.trigger--institucional__wrapper-disclosure--trigger:hover {
  cursor: pointer;
}
.trigger--institucional__menu-mobile--trigger {
  border: 1px solid rgb(118, 118, 118);
  display: flex;
  justify-content: center;
  align-items: center;
}
.trigger--institucional__menu-mobile--trigger::after {
  content: "";
  width: 15px;
  height: 15px;
  position: relative;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(assets/icons/commom/down-arrow.png);
  -webkit-background-size: 15px 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.trigger--institucional__menu-mobile--trigger--visible::after {
  transform: rotate(180deg);
}

.content--hidden {
  display: none;
}
.content--institucional__wrapper-policy--group-answer :global(.vtex-rich-text-0-x-paragraph) {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 29px;
}
.content--institucional__wrapper-policy--group-answer :global(.vtex-rich-text-0-x-link) {
  font-weight: 500;
  color: black;
}
.content--institucional__wrapper--menu-mobile {
  position: absolute;
  background: white;
  width: 100%;
  z-index: 1;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px gray;
}
.content--institucional__wrapper--menu-mobile :global(.vtex-rich-text-0-x-container--institucional__wrapper-menu-item) {
  margin: 25px 0;
}

.trigger--footer__trigger {
  padding: 0;
  margin: 0;
  background: unset;
  border: 0;
}
@media all and (max-width: 768px) {
  .trigger--footer__trigger {
    border-top: 1px solid #e5e0d2;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .trigger--footer__trigger::after {
    color: #0b0b0b;
    content: "+";
    float: right;
    font-size: 30px;
    font-weight: 400;
    margin-left: 5px;
  }
  .trigger--footer__trigger--visible::after {
    content: "−";
  }
  .trigger--footer__trigger--visible :global(.vtex-rich-text-0-x-paragraph) {
    color: #1a1a1a !important;
    font-weight: 600 !important;
  }
}
@media (max-width: 768px) {
  .trigger--footer__trigger {
    border: 0;
    padding: 18px;
  }
}

@media (min-width: 768px) {
  .content--footer__content {
    display: block !important;
  }
}
@media all and (max-width: 768px) {
  .content--footer__content {
    border-bottom: 1px solid #e5e0d2;
    display: block;
    padding-bottom: 0px;
    max-height: 0;
    overflow: hidden;
  }
  .content--footer__content--visible {
    max-height: 100%;
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .content--footer__content--visible {
    font-size: 12px;
    line-height: 30px;
    padding: 30px 50px;
    background-color: #f2f2f2;
  }
}
@media all and (max-width: 768px) {
  .content--footer__content-1 {
    border-bottom: none;
  }
}
@media (max-width: 768px) {
  .content--footer__content {
    border: 0;
  }
}