.openIconContainer {
  padding: 0;
}
.openIconContainer::after {
  content: "";
  background-image: url("assets/icons/header/drawer.svg");
  width: 35px;
  height: 35px;
  display: block;
}
.openIconContainer .menuIcon {
  display: none;
}