.trigger--footer__trigger {
  padding: 0;
  margin: 0;
  background: unset;
  border: 0;
}
@media all and (max-width: 991px) {
  .trigger--footer__trigger {
    border-top: 1px solid #e5e0d2;
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .trigger--footer__trigger::after {
    content: "";
    width: 13px;
    height: 13px;
    background-size: contain;
    background-position: center;
  }
  .trigger--footer__trigger--visible::after {
    transform: rotateZ(180deg);
    filter: brightness(0);
  }
  .trigger--footer__trigger--visible :global(.vtex-rich-text-0-x-paragraph) {
    color: #1a1a1a !important;
    font-weight: 600 !important;
  }
}

@media all and (max-width: 991px) {
  .content--footer__content {
    border-bottom: 1px solid #e5e0d2;
    display: block;
    padding-bottom: 0px;
    max-height: 0;
    transition: 0.3s;
    overflow: hidden;
  }
  .content--footer__content--visible {
    max-height: 100%;
    padding-bottom: 20px;
  }
  .content--footer__content-1 {
    border-bottom: none;
  }
}