@media (max-width: 768px) {
  .imageElement--third__banner-area--img {
    width: 300px;
  }
}
.imageElement--secund__area-banners--img {
  margin-bottom: 20px;
}
.imageElement--physical__stories-img {
  height: 410px;
}
@media (max-width: 768px) {
  .imageElement--physical__stories-img {
    height: 204px;
  }
}

.container {
  padding: 0;
  max-width: unset;
}

.searchBarContainer {
  display: none;
}
@media (max-width: 768px) {
  .searchBarContainer {
    display: block;
  }
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
}
.searchBarContainer :global(.vtex-input__suffix) {
  padding: 0;
}
.searchBarContainer :global(.vtex-store-components-3-x-searchIcon) {
  display: none;
}
.searchBarContainer :global(.vtex-store-components-3-x-searchBarIcon) {
  padding: 0;
}
.searchBarContainer :global(.vtex-store-components-3-x-searchBarIcon)::before {
  content: "";
  width: 21px;
  height: 21px;
  background: url(assets/icons/search.svg) no-repeat;
  background-position: center;
  background-size: contain;
  margin: 1px;
}
@media (max-width: 768px) {
  .searchBarContainer {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    position: relative;
    width: 100%;
    z-index: 999;
    background-color: white;
  }
}
.searchBarContainer .autoCompleteOuterContainer--header__search-mobile :global(.vtex-input-prefix__group) {
  justify-content: center;
  align-items: flex-start;
}

.imageElement--banner-categoria {
  margin-top: 20px;
}

.imageElement--footer__atendimento-img {
  max-width: 177px;
  margin-top: 15px;
}