.menuContainerNav--footer__menu .menuContainer {
  display: block;
}
.menuContainerNav--footer__menu .menuContainer .styledLinkContainer--footer__menu {
  margin: 0 0 5px 0;
  padding: 0;
}
.menuContainerNav--footer__menu .menuContainer .styledLinkContainer--footer__menu .styledLinkContent {
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #000000;
  line-height: 1.8;
  -webkit-text-stroke: 0.2px;
}
@media (max-width: 768px) {
  .menuContainerNav--footer__menu .menuContainer .styledLinkContainer--footer__menu .styledLinkContent {
    line-height: 30px;
  }
}

.menuItem .styledLinkContent--header__institucional--link {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: black;
  margin: 0;
  -webkit-text-stroke: 0.2px;
}
.menuItem .styledLinkContent--wrapper {
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.15em;
  line-height: 25px;
  text-transform: uppercase;
  color: #000;
  font-family: "lato";
}
.menuItem .styledLinkContent--menu__item {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  -webkit-text-stroke: 0.2px;
}
.menuItem--menu__item .styledLinkContent {
  border-bottom: 1px solid transparent;
}
.menuItem--menu__item:hover .styledLinkContent--menu__item {
  border-bottom: 1px solid #c00018;
}

.menuContainer--header__institucional--link {
  gap: 35px;
}
.menuContainer .submenuWrapper--submenu__container {
  padding: 0;
  z-index: 1001;
}
.menuContainer--main__menu {
  width: 60%;
  margin: auto;
  justify-content: center;
  gap: 124px;
}

.styledLinkContainer--header__institucional--link {
  margin: 0;
}
.styledLinkContainer--wrapper {
  margin: 0;
  padding: 0;
}

.menuContainerNav--category__menu-mobile {
  width: 100%;
}
.menuContainerNav--category__menu-mobile .menuItem--category__menu-drawer--item {
  padding: 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.34);
}
.menuContainerNav--category__menu-mobile .menuItem--category__menu-drawer--item:first-child {
  border-top: 0.5px solid rgba(0, 0, 0, 0.34);
}
.menuContainerNav--category__menu-mobile .menuItem--category__menu-drawer--item .styledLinkContent--category__menu-drawer--item {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.menuContainerNav--category__menu-mobile .menuItem--category__menu-drawer--submenu__title .styledLinkContent {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.menuContainerNav--category__menu-mobile .menuItem .styledLinkContainer {
  position: relative;
}
.menuContainerNav--category__menu-mobile .menuItem .styledLinkContainer--has-children::after {
  content: "";
  background-image: url(assets/icons/header/arrowDrawer.svg);
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  position: absolute;
  right: 18px;
  top: 40%;
  width: 20px;
}

.submenuContainer .submenuWrapper--category__menu-drawer--submenu {
  margin-top: 30px;
  position: static;
  border-top: 0.5px solid rgba(0, 0, 0, 0.34);
  border-bottom: none;
}
.submenuContainer .submenuWrapper--category__menu-drawer--submenu .menuContainer--category__menu-drawer-submenu {
  gap: 25px;
}
.submenuContainer .submenuWrapper--category__menu-drawer--submenu .menuContainer--category__menu-drawer-submenu .styledLinkContent--has-children {
  font-weight: 600;
}
.submenuContainer .submenuWrapper--category__menu-drawer--submenu .menuContainerNav {
  width: 100%;
}
.submenuContainer .submenuWrapper--category__menu-drawer--submenu .menuContainerNav .styledLinkContainer--category__menu-drawer--submenu__title::after {
  content: "";
  background-image: url(assets/icons/header/arrowDrawer.svg);
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  position: absolute;
  right: 18px;
  top: 40%;
  width: 20px;
}
.submenuContainer .submenuWrapper--category__menu-drawer-subSubmenu {
  margin-top: 30px;
  position: static;
  border-top: 0.5px solid rgba(0, 0, 0, 0.34);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.34);
}
.submenuContainer .submenuWrapper--category__menu-drawer-subSubmenu .submenu--category__menu-drawer-subSubmenu {
  flex-direction: column;
}
.submenuContainer .submenuWrapper--category__menu-drawer-subSubmenu .submenu--category__menu-drawer-subSubmenu :global(.vtex-rich-text-0-x-container--seeMore) {
  padding-left: 25px;
}
.submenuContainer .submenuWrapper--category__menu-drawer-subSubmenu .submenu--category__menu-drawer-subSubmenu :global(.vtex-rich-text-0-x-container--seeMore) :global(.vtex-rich-text-0-x-wrapper--seeMore) {
  width: 100%;
}
.submenuContainer .submenuWrapper--category__menu-drawer-subSubmenu .submenu--category__menu-drawer-subSubmenu :global(.vtex-rich-text-0-x-container--seeMore) :global(.vtex-rich-text-0-x-wrapper--seeMore) :global(.vtex-rich-text-0-x-paragraph--seeMore) {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.15em;
  width: 100px;
}
@media (min-width: 1025px) {
  .submenuContainer .submenuWrapper--category__menu-drawer-subSubmenu .menuContainer {
    gap: 15px;
  }
}

@media (min-width: 1025px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--submenu__container-left) :global(.vtex-flex-layout-0-x-flexColChild) {
    display: contents;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--submenu__container-left) .styledLinkContainer {
    margin: 0;
  }
}

.menuContainer--forSizes__menu-drawer--subSubmenu {
  flex-direction: row;
  justify-content: left;
  gap: 8px;
}
@media (max-width: 1025px) {
  .menuContainer--forSizes__menu-drawer--subSubmenu {
    gap: 15px;
  }
}
.menuContainer--forSizes__menu-drawer--subSubmenu .styledLinkContainer--forSizes__menu-drawer--subSubmenu {
  margin: 0;
}
.menuContainer--forSizes__menu-drawer--subSubmenu .styledLinkContent--forSizes__menu-drawer--subSubmenu {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 28px;
  justify-content: center;
}
@media (max-width: 1025px) {
  .menuContainer--forSizes__menu-drawer--subSubmenu .styledLinkContent--forSizes__menu-drawer--subSubmenu {
    width: 28px;
    border: 1px solid #000;
  }
}