.flexRow {
  &--footer__newsletter {
    background-color: #f2f2f2;
    padding: 50px 80px 0;
    margin-bottom: 40px;
    @include mobile {
      padding: 40px;
      margin-bottom: 0;
    }
    .flexRowContent {
      max-width: 1024px;
      height: 165px;
      margin: auto;
      @include mobile {
        height: auto;
      }
    }
  }
  &--footer__links {
    .flexRowContent {
      &--footer__links {
        width: 90%;
        margin: auto;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 50px;
        border-top: 1px solid #e5e5e5;
        padding-top: 30px;
        @include tablet{
          flex-wrap: wrap;
          gap: 30px;
        }
        @include mobile {
          border: 0;
          padding-top: 0;
          width: 100%;
          flex-direction: column;
          align-items: center;
        }
        .stretchChildrenWidth {
          flex-direction: column;
          @include tablet{
            flex-basis: 30%;
          }
          @include mobile{
            flex-basis: auto;
            width: 100% !important;
          }
        }
        .flexCol {
          &--footer__address {
            @include mobile {
              flex-direction: row;
              justify-content: space-between;
              padding: 40px 20px 0;
            }
          }

          &--footer__column--payments {
            @include mobile {
              align-items: center;
              gap: 30px;
            }
          }

          &--footer__column--images {
            @include mobile {
              align-items: center;
              margin-top: 60px;
            }
          }
        }
      }
      &--footer__links-selos--row {
        display: flex;
        gap: 20px;
      }
    }
  }
  &--footer__copyright {
    .flexRowContent {
      &--footer__copyright {
        width: 90%;
        margin: auto;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 40px;
        border-top: 1px solid #000000;
        @include mobile {
          border: 0;
          padding: 0 0 20px 0;
          flex-direction: column;
          align-items: center;
        }
      }
      &--footer__copyright-right--row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
      }
    }
  }
}
