.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;

  .buttonPrev{
    background-image: url(/arquivos/icon-button-previous.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    height: 30px;
    display: block;
    order: -1;
    width: 22px;
  }

  .buttonNext{
    background-image: url(/arquivos/icon-button-next.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    height: 30px;
    display: block;
    order: 1;
    width: 22px;
  }

  .backToFirstContainer{
    line-height: 22px;
    height: fit-content;

    .backToFirst{
      text-decoration: none;
      color: black;
    }
  }

  .nextToLastContainer{
    line-height: 22px;
    height: fit-content;
    .nextToLast{
      color: black;
      text-decoration: none;
    }
  }

  .itens_pagination {
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;

    &.itens__itemActive {
      background-color: black;
      border-radius: 50%;
      .pagination__item {
        color: white;
      }
    }

    .pagination__item {
      text-decoration: none;
      color: black;
      line-height: 30px;
    }
  }
}
