

.custom-react-slick-slider-container
{
    display: flex;

    align-items: center;

    overflow: hidden;

    justify-content: center;

    width: 100% !important;

    margin: 0 auto;

    max-width: 120rem;

}

.custom-react-slick-slider-container :global(.slick-slider)
{
    width: 100%;

    max-width: calc(100% - 1.25rem);

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    margin: 0 auto;

    position: relative;
}

.custom-react-slick-slider-container :global(.slick-slider) :global(.slick-arrow)
{
    position: absolute;

    cursor: pointer;

    width: auto;

    display: flex !important;

    align-items: center;

    justify-content: center;
}

.custom-react-slick-slider-container :global(.slick-slider) :global(.slick-prev)
{
    left: 0;
}

.custom-react-slick-slider-container :global(.slick-slider) :global(.slick-next)
{
    right: 0;
}

.custom-react-slick-slider-container :global(.slick-slider) :global(.slick-dots)
{
    position: absolute;

    bottom: -5px;

    display: flex !important;

    align-items: center;

    justify-content: center;
}

.custom-react-slick-slider-container :global(.slick-slider) :global(.slick-dots) li button
{
    display: flex !important;

    align-items: center;

    justify-content: center;

    cursor: pointer;

    font-size: 0;

    color: transparent;

    background: #c4c4c4 !important;

    height: 8px !important;

    width: 8px !important;

    padding: 4px;

    border-radius: 50%;

    margin: 0 .5rem;

    border: none;

    transition: transform .3s ease-in-out;
}

.custom-react-slick-slider-container :global(.slick-slider) :global(.slick-dots) li:global(.slick-active) button
{
    background: transparent !important;

    border: 1px solid #c4c4c4;

    transform: scale(1.5);

    transition: transform .3s ease-in-out;
}

.custom-react-slick-slider-container :global(.slick-slider) :global(.slick-dots) li::marker
{
    content: "";
}

.custom-react-slick-slider-container :global(.slick-slider) :global(.slick-list)
{
    display: flex;

    align-items: center;

    justify-content: center;

    width: 100%;

    margin: 1.5rem auto;

    max-width: calc(100% - 9.4rem);

    overflow: hidden;
}

.custom-react-slick-slider-container :global(.slick-slider) :global(.slick-list) :global(.slick-track)
{
    display: flex;

    align-items: center;

    justify-content: space-around;
}

.custom-react-slick-slider-container :global(.slick-slider) :global(.slick-list) :global(.slick-track) :global(.slick-slide)
{
    display: flex;

    align-items: center;

    justify-content: center;

    margin: 0 1rem;
}
