.drawerContent {
  height: 100%;
  .drawerHeader {
    &--header-drawer {
      width: 100%;
      height: 128px;
      position: relative;

      :global(.vtex-store-components-3-x-logoLink) {
        text-align: center;
        display: block;
      }
    }
    .closeIconButton {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .childrenContainer {
    &--menu__drawer {
      height: 100%;

      :global(.vtex-login-2-x-container) {
        position: absolute;
        justify-content: center;
        bottom: 35px;
        left: 50%;
        width: 90%;
        translate: -50%;
        border: 1px solid #000;
        height: 48px;
        background: white;

        :global(.vtex-button) {
          display: block;

          padding: 0;
          margin: 0;
          width: 28px;
          height: 28px;
          background: url(https://eurico.vtexassets.com/assets/vtex/assets-builder/eurico.fg-store/0.0.45/icons/login___24ef9a1….svg) no-repeat;
          background-size: contain;
          min-height: unset;
          border: 0;

          :global(.vtex-button__label){
            padding-right: 0;
          }
          :nth-child(n + 1) {
            display: block;
          }
        }
      }
    }
  }
}
