.menuContainerNav {
  &--category__menu-mobile {
    width: 100%;

    .menuItem {
      &--category__menu-drawer--item {
        padding: 20px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.34);

        &:first-child {
          border-top: 0.5px solid rgba(0, 0, 0, 0.34);
        }

        .styledLinkContent {
          &--category__menu-drawer--item {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.15em;
            text-transform: uppercase;
          }
        }
      }

      &--category__menu-drawer--submenu__title {
        .styledLinkContent {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.15em;
          text-transform: uppercase;
        }
      }

      .styledLinkContainer {
        position: relative;
        &--has-children {
          &::after {
            content: "";
            background-image: url(assets/icons/header/arrowDrawer.svg);
            background-repeat: no-repeat;
            display: block;
            height: 20px;
            position: absolute;
            right: 18px;
            top: 40%;
            width: 20px;
          }
        }
      }
    }
  }
}

.submenuContainer {
  .submenuWrapper {
    &--category__menu-drawer--submenu {
      margin-top: 30px;
      position: static;
      border-top: 0.5px solid rgba(0, 0, 0, 0.34);
      border-bottom: none;

      .menuContainer--category__menu-drawer-submenu {
        gap: 25px;

        .styledLinkContent--has-children {
          font-weight: 600;
        }
      }

      .menuContainerNav {
        width: 100%;

        .styledLinkContainer {
          &--category__menu-drawer--submenu__title {
            &::after {
              content: "";
              background-image: url(assets/icons/header/arrowDrawer.svg);
              background-repeat: no-repeat;
              display: block;
              height: 20px;
              position: absolute;
              right: 18px;
              top: 40%;
              width: 20px;
            }
          }
        }
      }
    }

    &--category__menu-drawer-subSubmenu {
      margin-top: 30px;
      position: static;
      border-top: 0.5px solid rgba(0, 0, 0, 0.34);
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.34);

      .submenu--category__menu-drawer-subSubmenu {
        flex-direction: column;

        :global(.vtex-rich-text-0-x-container--seeMore) {
          padding-left: 25px;
          :global(.vtex-rich-text-0-x-wrapper--seeMore) {
            width: 100%;
            :global(.vtex-rich-text-0-x-paragraph--seeMore) {
              font-size: 14px;
              font-weight: 400;
              letter-spacing: 0.15em;
              width: 100px;
            }
          }
        }
      }

      .menuContainer {
        @include desktop {
          gap: 15px;
        }
      }
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--submenu__container-left){
  @include desktop {
    :global(.vtex-flex-layout-0-x-flexColChild) {
      display: contents;
    }
    .styledLinkContainer {
      margin: 0;
    }
  }
}

.menuContainer--forSizes__menu-drawer--subSubmenu {
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  @include tablet{
    gap: 15px;
  }

  .styledLinkContainer--forSizes__menu-drawer--subSubmenu {
    margin: 0;
  }

  .styledLinkContent--forSizes__menu-drawer--subSubmenu {
    @include tablet{
      width: 28px;
      border: 1px solid #000;
    }
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 28px;
    justify-content: center;
  }
}
