.sellingPrice {
  &--product__price-pdp {
    color: #161615;
    font-size: 20px;
    display: flex;
    gap: 5px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    -webkit-text-stroke: 0.2px;
    width: fit-content !important;

    &::after {
      background-color: #161615;
      content: "";
      display: block;
      height: 17px;
      margin-left: 10px;
      width: 1px;
    }
    .sellingPriceValue {
      color: #161615;
      font-size: 20px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      -webkit-text-stroke: 0.2px;
    }
  }
}

.listPrice--product-list-price__pdp{
  color: #606060;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  text-decoration-line: line-through;
  margin-top: 10px;
  display: block;
}

.installments--product__installments-pdp {
  margin-bottom: 0;
  width: fit-content !important;
  color: #606060;
  font-size: 14px;
  font-weight: 600;
}
