.section--notices {
  .noticesList {
    .noticeListItem {
      display: none;
      &:last-child {
        display: block;
      }
    }
  }
}

.orderPlacedWrapper {
  :global(.vtex-rich-text-0-x-container--op-help) {
    justify-content: center;
    display: flex;
    :global(.vtex-rich-text-0-x-paragraph--op-help) {
      text-align: center;
    }
  }

  .noticeListItem {
    :global(.vtex-button) {
      @include tablet {
        display: grid;
      }
    }
  }

  .section--custumesAndPayment {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }
  .section--confirmation,
  .section--paymentMethods,
  .section--resume {
    @include desktop {
      margin: 0;
    }
  }

  .orderPaymentWrapper {
    :global(.vtex-button) {
      display: none;
    }
  }

  .totalListWrapper {
    display: block;
  }

  .orderOptionsWrapper {
    &:first-child {
      display: none;
    }

    :global(.vtex-button) {
      background-color: black;
      color: white;
    }
  }

  .orderDatetime {
    text-align: center;
    display: block;
  }
}
