.searchBarContainer {
  .searchBarInnerContainer--search__not-found {
    margin: 30px 0;
    .autoCompleteOuterContainer--search__not-found {

      @include desktop{
        width: 500px;
      }

      :global(.vtex-input-prefix__group){
        padding: 20px;
        height: 52px;
        width: 100%;
        border-radius: 0;
        justify-content: space-between;
        border: 1px solid #999;

        :global(.vtex-styleguide-9-x-input){
          font-weight: 400;
          font-size: 12px;
          line-height: 1px;
          max-width: 100%;
          width: 100%;
          border: 0;
          letter-spacing: normal;
          padding: 0;
          color: #717171;
        }
      }
    }
  }
}
