.savings--flag__price-savings {
  background: #c00018;
  color: #fff;
  display: flex;
  font-family: Lato;
  font-size: 12px;
  font-weight: 600;
  height: 26px;
  justify-content: center;
  letter-spacing: 0.3px;
  max-width: 120px;
  text-transform: uppercase;
  width: 120px;
  gap: 5px;
  align-items: center;
}
