.container {
  &--institucional__wrapper-menu-item {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    text-align: left;
    font-weight: 400;

    .link {
      text-decoration: none;
      color: black;
      font-weight: 400;

      &:hover {
        font-weight: bold;
      }

      &--active {
        font-weight: bold;
      }
    }
  }

  &--institucional__wrapper-menu--trigger-mobile {
    width: 70%;
    justify-content: center;
    margin: 15px 0;
  }
  &--institucional__wrapper--group-question {
    @include tablet {
      width: 100%;
    }
  }

  &--institucional__wrapper--group-answer {
    .paragraph {
      margin-bottom: 30px;
      font-weight: 300;
      line-height: 29px;
    }

    .list {
      line-height: 29px;
      font-weight: 300;
    }

    .link {
      color: black;
      font-weight: 400;
    }
  }

  .link {
    color: black;
  }

  .heading-level-2 {
    font-size: 16px;
  }

  &--institucional__wrapper-right--title {
    @include tablet {
      margin-top: 30px;
      justify-content: center;
    }
    .heading {
      font-size: 33px;
      font-weight: 500;
      letter-spacing: 4px;
      line-height: 40px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 35px;

      @include tablet {
        font-size: 27px;
        font-weight: 500;
        letter-spacing: 2.5px;
        line-height: 36px;
        color: #000;
        text-transform: uppercase;
      }
    }
  }
}
