.flexRow{
  &--institucional__wrapper{
    margin: 100px auto;
    max-width: 1118px;

    .stretchChildrenWidth{
      display: contents;
    }


    .flexCol{
      &--institucional__wrapper-left{
        width: 30%;
      }
    }
  }
}
