.container {
  &--header__minicart--title {
    @include tablet{
      justify-content: center;
    }
    .paragraph {
      font-size: 23px;
      text-transform: uppercase;
      display: block;
      padding: 30px 0;
      color: #393939;
      background: #fff;
      letter-spacing: 1px;
      width: 100%;
      text-align: center;
      font-weight: 400;
      font-family: Lato;
    }
  }
}
