.drawer--header__minicart{
  z-index: 1001;
  @include tablet{
    max-width: 100% !important;
    width: 100% !important;
  }
  .drawerContent--header__minicart{
    .closeIconContainer--header__minicart{
      position: absolute;
      right: 20px;
      top: 20px;
      .closeIcon{
        color: gray;
      }
    }

    .minicartContentContainer{
      .minicartTitle{
        display: none;
      }
    }
  }
}

.minicartSummary--header__minicart--resume{
  :global(.vtex-checkout-summary-0-x-summarySmallContent){
    :global(.vtex-checkout-summary-0-x-summaryItemLabel--header__minicart--resume){
      font-size: 0;

      &::before{
        content: "Total:";
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 600;
        text-transform: uppercase;

      }
    }

    :global(.vtex-checkout-summary-0-x-summaryItemPrice--header__minicart--resume){
      font-size: 22px;
      color: #000;
      font-weight: 600;
      font-style: normal;
      display: block;
      letter-spacing: 1px;
    }
  }
  :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer){
    display: none;
  }
}

.minicartCheckoutButton{
  padding: 0 7%;
  margin: 10px 0;

  :global(.vtex-button){
    border-radius: 0;
    height: 50px;
    background-color: #6bc66b;
    border: 0;

    :global(.vtex-button__label){
      font-size: 0;
      &::before{
        content: "Finalizar compra";
        line-height: 12px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 12px;
        color: #fff;
      }
    }
  }
}
