

.paragraph {
  &--header__topbar--item {
    color: black;
    letter-spacing: 0.3px;
    vertical-align: baseline;
    font-family: Lato;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
    @media(max-width:768px){
      font-size: 10px;
      font-weight: 300;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &--header__topbar--item1,
  &--header__topbar--item2,
  &--header__topbar--item3 {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 12px;
    }
  }

  &--header__topbar--item1 {
    &::before {
      background-image: url(assets/icons/header/Sparkle.svg);
    }
  }

  &--header__topbar--item2 {
    &::before {
      background-image: url(assets/icons/header/Storefront.svg);
    }
  }

  &--header__topbar--item3 {
    &::before {
      background-image: url(assets/icons/header/Headphones.svg);
    }
  }

  &--header__topbar--item-last {
    letter-spacing: 1.5px;
    -webkit-text-stroke: 0.2px;
  }
  &--submenu {
    &__title {
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.15em;
      line-height: 60px;
      text-transform: uppercase;
      color: #000;
    }
    &__forSize--item {
      font-size: 13px;
    }
  }
  &--seeMore {
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.15em;
    line-height: 25px;
    text-align: left;
    color: #000;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 75px;
    .link--seeMore{
      text-decoration: none;
    }
    &::after {
      position: absolute;
      content: ">";
      font-size: 12px;
      right: 0px;
      display: block;
    }
  }
}
.link {
  &--header__topbar--item {
    text-decoration: none;
    color: black;
    letter-spacing: 0.3px;
    vertical-align: baseline;
    font-family: Lato;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    -webkit-text-stroke: 0.2px;
    @include desktop{
      font-size: 10px;
    }
  }
}
