.menuItem {

  .styledLinkContent {
    &--header__institucional--link {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-weight: 400;
      color: black;
      margin: 0;
      -webkit-text-stroke: 0.2px;
    }
    &--wrapper {
      font-weight: 600;
      font-size: 10px;
      letter-spacing: 0.15em;
      line-height: 25px;
      text-transform: uppercase;
      color: #000;
      font-family: "lato";
    }
    &--menu__item {
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      -webkit-text-stroke: 0.2px;
    }
  }


  &--menu__item {
     .styledLinkContent{
       border-bottom: 1px solid transparent;
    }
    &:hover {
      .styledLinkContent {
        &--menu__item {
          border-bottom: 1px solid #c00018;
        }
      }
    }
  }
}

.menuContainer {
  &--header__institucional--link {
    gap: 35px;
  }

  .submenuWrapper {
    &--submenu__container {
      padding: 0;
      z-index: 1001;
    }
  }

  &--main__menu {
    width: 60%;
    margin: auto;
    justify-content: center;
    gap: 124px;
  }
}

.styledLinkContainer {
  &--header__institucional--link {
    margin: 0;
  }
  &--wrapper {
    margin: 0;
    padding: 0;
  }
}
