.minicartContainer {
  .cartIcon {
    display: none;
  }
  .minicartIconContainer {
    &::before {
      content: "";
      background: url(assets/icons/cart.svg) no-repeat;
      background-size: contain;
      background-position: center;
      width: 19px;
      height: 24px;
      display: block;
    }
  }

  .openIconContainer--minicart,
  .openIconContainer--minicart-header__minicart{
    padding: .75em 0;
  }

  .openIconContainer{
    :global(.vtex-button){
      &:hover{
        background-color: transparent;
      }
  }
  }

  .minicartQuantityBadge{
    width: 10px;
    height: 10px;
    background: #c00018;
    font-size: 10px;
    &Default{
      top: -.1rem;
    right: -0.3rem;
    }
  }
  :global(.vtex-button__label){
    padding: 0;
  }
}
